.Receiver {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Noto Sans;
  font-size: 20px;
}

.Receiver .github {
  margin-top: 25px;
}

.Receiver .url {
  margin-top: 30px;
}